{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="intro text-center">
                <h4>welcome to the backend</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem corporis velit itaque, veritatis, ipsum et voluptates eos quasi ea quia, sint facere! Laborum optio facere ducimus enim voluptate aliquid similique.Deserunt impedit, fugit aut rerum ad magnam nostrum accusamus libero nesciunt dolore. Alias est quae mollitia, qui eum molestias distinctio similique accusantium molestiae aliquam amet? Rerum, quam! Iusto, corrupti quisquam.</p>
            </div>
           
        </div>
    </div>
{% endblock %}