{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="property-inner">
                <div class="col-md-6">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint illo dicta eveniet quos accusamus voluptatum! Natus eius accusantium temporibus provident iste itaque ullam quasi possimus, saepe quam est tempora. Aperiam!
                </div>
                <div class="col-md-6">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati cupiditate, quo ut dolor eaque iure autem suscipit quia quam repudiandae eligendi aspernatur? Perspiciatis unde cumque reprehenderit maxime eaque deleniti culpa!</div>
            </div>
           
        </div>
    </div>
{% endblock %}